@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--color-primary: #daaa63;
	--color-light: #f9f3ed;
	--color-black: #2b170f;
	--color-beige: #b0a9a6;
	--color-bg: #f3e5cf;
	--color-sand: #795f3b;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Montserrat';
	color: var(--color-black);
	background: var(--color-bg);
}

a {
	text-decoration: none;
	color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Libre Caslon Text', sans-serif;
	font-weight: 400;
}
