@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-libre: 'Libre Caslon Text', serif;
$font-m: 'Montserrat';

$color-primary: #daaa63;
$color-light: #f9f3ed;
$color-black: #2b170f;
$color-beige: #b0a9a6;
$color-bg: #f3e5cf;
